.container {
  max-width: 1200px;
  margin: auto;
}
.header_container {
  width: 100%;
  padding: 10px;
  background-color: aliceblue;
  box-shadow: 10px 10px 20px darkgray;
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo_container {
  display: inline-block;
}
.products_container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}
.card_container {
  max-width: 280px;
  height: 100%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  /* overflow: hidden; */
  box-shadow: 2px 2px 5px darkgray;
  transition: all 0.1s linear;
}
.product_link {
  text-decoration: none;
  color: black;
}
.product_link:hover {
  color: black;
}
.card_container:hover {
  transform: translateY(-5px);
}
.product_info {
  line-height: 20px;
}
.description {
  padding: 10px;
  position: relative;
  padding: 10px;
}
.product_title {
  width: 100%;
  height: 48px;
  overflow: hidden;
}

.image_container {
  width: 200px;
  height: 250px;
  margin: auto;
}
.image_container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product_title {
  font-size: 18px;
}
.product_price {
  color: darkgray;
}
